In [ ]:
import pandas as pd
import statistics
import os
import shutil

In [ ]:
# Getting the Dataset using the Kaggle API
!kaggle datasets download rashikrahmanpritom/data-science-job-posting-on-glassdoor

# Unziping the Data
shutil.unpack_archive("data-science-job-posting-on-glassdoor.zip",extract_dir='data')

# Deleting the Zip File and the Cleaned Version
os.remove("data-science-job-posting-on-glassdoor.zip")
os.remove("data/Cleaned_DS_Jobs.csv")

# Renaming our dataset
os.rename("data/Uncleaned_DS_jobs.csv", "data/Data_Science_Jobs.csv")

In [ ]:
# Starting the dataframe and correcting the index
df = pd.read_csv("data/Data_Science_Jobs.csv",index_col='index')

In [ ]:
# Getting the Salary Estimate
def get_salary_estimate(x):
    estimate = ''
    for char in x:
        if char.isdigit() or char == '-':
            estimate += char 
    return estimate

df['Salary Estimate'] = df['Salary Estimate'].apply(get_salary_estimate)

In [ ]:
# Cleaning the Company Name
def get_company_name(x):
    if str("\n") in x:
        array = x.split(str("\n"))
        return array[0].strip()
    else:
        return x
    
df['Company Name'] = df['Company Name'].apply(get_company_name)

In [ ]:
# Cleaning the Company Size
def get_size(x):
    size = ''
    x = x.replace(' to ','-')
    for char in x:
        if char.isdigit() or char == '-':
            size += char 
    return size
    
df['Size'] = df['Size'].apply(get_size)

In [ ]:
# Getting the Minimum Salary
df['Min Salary'] = df['Salary Estimate'].apply(lambda x: int(min(x.split('-'))))

# Getting the Maximum Salary
df['Max Salary'] = df['Salary Estimate'].apply(lambda x: int(max(x.split('-'))))

# Getting the Average Salary
df['Avg Salary'] = df['Salary Estimate'].apply(lambda x: statistics.mean(list(map(int,x.split('-')))))

In [ ]:
# Creating the Job State Column
def get_job_state(x):
    # States that does not have the acronym
    standardize_states = {"Utah":"UT",
                      "United States":"US",
                      "Remote":"RMT",
                      "New Jersey":"NJ",
                      "Texas":"TX",
                      "California":"CA"}
    
    try:
        state = x.split(",")[1].strip()
    except:
        for state_key,acronym in standardize_states.items():
            if x == state_key:
                state = acronym
    return state

find_different = df['Location'].apply(get_job_state)
df['Job State'] = df['Location'].apply(get_job_state)

In [75]:
# Creating the Same State Boolean Column
def get_headquarters_state(x):
    try:
        state = x.split(",")[1].strip()
    except:
        state = x
    return state

headquarters_states = df['Headquarters'].apply(get_headquarters_state)
df['Same State'] = df['Job State'] == headquarters_states

In [79]:
# Including the most appeared skills in boolean columns form using Lambda
df['Python - Required'] = df['Job Description'].apply(lambda x: True if "python" in x.lower() else False)
df['Excel - Required'] = df['Job Description'].apply(lambda x: True if "excel" in x.lower() else False)
df['Hadoop - Required'] = df['Job Description'].apply(lambda x: True if "hadoop" in x.lower() else False)
df['Spark - Required'] = df['Job Description'].apply(lambda x: True if "spark" in x.lower() else False)
df['AWS - Required'] = df['Job Description'].apply(lambda x: True if "aws" in x.lower() else False)
df['Tableau - Required'] = df['Job Description'].apply(lambda x: True if "tableau" in x.lower() else False)
df['Big Data - Required'] = df['Job Description'].apply(lambda x: True if "big data" in x.lower() else False)

In [81]:
df

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,...,Avg Salary,Job State,Same State,Python - Required,Excel - Required,Hadoop - Required,Spark - Required,AWS - Required,Tableau - Required,Big Data - Required
index,,,,,,,,,,,,,,,,,,,,,
0,Sr Data Scientist,137-171,Description\n\nThe Senior Data Scientist is re...,3.1,Healthfirst,"New York, NY","New York, NY",1001-5000,1993,Nonprofit Organization,...,154.0,NY,True,False,False,False,False,True,False,False
1,Data Scientist,137-171,"Secure our Nation, Ignite your Future\n\nJoin ...",4.2,ManTech,"Chantilly, VA","Herndon, VA",5001-10000,1968,Company - Public,...,154.0,VA,True,False,False,True,False,False,False,True
2,Data Scientist,137-171,Overview\n\n\nAnalysis Group is one of the lar...,3.8,Analysis Group,"Boston, MA","Boston, MA",1001-5000,1981,Private Practice / Firm,...,154.0,MA,True,True,True,False,False,True,False,False
3,Data Scientist,137-171,JOB DESCRIPTION:\n\nDo you have a passion for ...,3.5,INFICON,"Newton, MA","Bad Ragaz, Switzerland",501-1000,2000,Company - Public,...,154.0,MA,False,True,True,False,False,True,False,False
4,Data Scientist,137-171,Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions,"New York, NY","New York, NY",51-200,1998,Company - Private,...,154.0,NY,True,True,True,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
667,Data Scientist,105-167,Summary\n\nWe’re looking for a data scientist ...,3.6,TRANZACT,"Fort Lee, NJ","Fort Lee, NJ",1001-5000,1989,Company - Private,...,136.0,NJ,True,True,True,True,False,False,True,True
668,Data Scientist,105-167,Job Description\nBecome a thought leader withi...,-1.0,JKGT,"San Francisco, CA",-1,-1,-1,-1,...,136.0,CA,False,False,False,False,False,False,False,False
669,Data Scientist,105-167,Join a thriving company that is changing the w...,-1.0,AccessHope,"Irwindale, CA",-1,-1,-1,-1,...,136.0,CA,False,True,True,True,False,False,True,False
670,Data Scientist,105-167,100 Remote Opportunity As an AINLP Data Scient...,5.0,ChaTeck Incorporated,"San Francisco, CA","Santa Clara, CA",1-50,-1,Company - Private,...,136.0,CA,True,True,False,True,True,False,False,True
671,Data Scientist,105-167,Description\n\nThe Data Scientist will be part...,2.7,1-800-Flowers,"New York, NY","Carle Place, NY",1001-5000,1976,Company - Public,...,136.0,NY,True,True,True,False,False,False,True,False

In [66]:
pd.unique(a.squeeze())

array(['NY', 'VA', 'MA', 'Switzerland', 'CA', 'IL', 'MO', 'WA', 'NJ',
       'DC', 'TN', 'AZ', 'PA', 'GA', 'FL', 'WI', 'NE', 'Singapore',
       'Japan', 'LA', 'OH', 'IN', 'MD', 'CT', 'United Kingdom', 'MN',
       'TX', 'UT', 'CO', 'OR', 'MI', 'SC', '-1', 'France', 'Canada',
       'Bermuda', 'IA', 'India', 'Israel', 'NC', 'AL', 'Sweden', '061',
       'WV', 'HI', 'Spain', 'NM'], dtype=object)