In [55]:
import pandas as pd
import statistics
import os
import shutil

In [ ]:
# Getting the Dataset using the Kaggle API
!kaggle datasets download rashikrahmanpritom/data-science-job-posting-on-glassdoor

# Unziping the Data
shutil.unpack_archive("data-science-job-posting-on-glassdoor.zip",extract_dir='data')

# Deleting the Zip File and the Cleaned Version
os.remove("data-science-job-posting-on-glassdoor.zip")
os.remove("data/Cleaned_DS_Jobs.csv")

# Renaming our dataset
os.rename("data/Uncleaned_DS_jobs.csv", "data/Data_Science_Jobs.csv")

In [20]:
# Starting the dataframe and correcting the index
df = pd.read_csv("data/Data_Science_Jobs.csv",index_col='index')

In [23]:
# Getting the Salary Estimate
def get_salary_estimate(x):
    estimate = ''
    for char in x:
        if char.isdigit() or char == '-':
            estimate += char 
    return estimate

df['Salary Estimate'] = df['Salary Estimate'].apply(get_salary_estimate)

In [37]:
# Cleaning the Company Name
def get_company_name(x):
    if str("\n") in x:
        array = x.split(str("\n"))
        return array[0].strip()
    else:
        return x
    
df['Company Name'] = df['Company Name'].apply(get_company_name)

In [40]:
# Cleaning the Company Size
def get_size(x):
    size = ''
    x = x.replace(' to ','-')
    for char in x:
        if char.isdigit() or char == '-':
            size += char 
    return size
    
df['Size'] = df['Size'].apply(get_size)

In [57]:
# Getting the Minimum Salary
df['Min Salary'] = df['Salary Estimate'].apply(lambda x: int(min(x.split('-'))))

# Getting the Maximum Salary
df['Max Salary'] = df['Salary Estimate'].apply(lambda x: int(max(x.split('-'))))

# Getting the Average Salary
df['Avg Salary'] = df['Salary Estimate'].apply(lambda x: statistics.mean(list(map(int,x.split('-')))))

In [58]:
df

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors,Min Salary,Max Salary,Avg Salary
index,,,,,,,,,,,,,,,,,
0,Sr Data Scientist,137-171,Description\n\nThe Senior Data Scientist is re...,3.1,Healthfirst,"New York, NY","New York, NY",1001-5000,1993,Nonprofit Organization,Insurance Carriers,Insurance,Unknown / Non-Applicable,"EmblemHealth, UnitedHealth Group, Aetna",137,171,154.0
1,Data Scientist,137-171,"Secure our Nation, Ignite your Future\n\nJoin ...",4.2,ManTech,"Chantilly, VA","Herndon, VA",5001-10000,1968,Company - Public,Research & Development,Business Services,$1 to $2 billion (USD),-1,137,171,154.0
2,Data Scientist,137-171,Overview\n\n\nAnalysis Group is one of the lar...,3.8,Analysis Group,"Boston, MA","Boston, MA",1001-5000,1981,Private Practice / Firm,Consulting,Business Services,$100 to $500 million (USD),-1,137,171,154.0
3,Data Scientist,137-171,JOB DESCRIPTION:\n\nDo you have a passion for ...,3.5,INFICON,"Newton, MA","Bad Ragaz, Switzerland",501-1000,2000,Company - Public,Electrical & Electronic Manufacturing,Manufacturing,$100 to $500 million (USD),"MKS Instruments, Pfeiffer Vacuum, Agilent Tech...",137,171,154.0
4,Data Scientist,137-171,Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions,"New York, NY","New York, NY",51-200,1998,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,"Commerce Signals, Cardlytics, Yodlee",137,171,154.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
667,Data Scientist,105-167,Summary\n\nWe’re looking for a data scientist ...,3.6,TRANZACT,"Fort Lee, NJ","Fort Lee, NJ",1001-5000,1989,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,-1,105,167,136.0
668,Data Scientist,105-167,Job Description\nBecome a thought leader withi...,-1.0,JKGT,"San Francisco, CA",-1,-1,-1,-1,-1,-1,-1,-1,105,167,136.0
669,Data Scientist,105-167,Join a thriving company that is changing the w...,-1.0,AccessHope,"Irwindale, CA",-1,-1,-1,-1,-1,-1,-1,-1,105,167,136.0
670,Data Scientist,105-167,100 Remote Opportunity As an AINLP Data Scient...,5.0,ChaTeck Incorporated,"San Francisco, CA","Santa Clara, CA",1-50,-1,Company - Private,Advertising & Marketing,Business Services,$1 to $5 million (USD),-1,105,167,136.0
671,Data Scientist,105-167,Description\n\nThe Data Scientist will be part...,2.7,1-800-Flowers,"New York, NY","Carle Place, NY",1001-5000,1976,Company - Public,Wholesale,Business Services,$1 to $2 billion (USD),-1,105,167,136.0