In [55]:
import pandas as pd
import statistics
import os
import shutil

In [ ]:
# Getting the Dataset using the Kaggle API
!kaggle datasets download rashikrahmanpritom/data-science-job-posting-on-glassdoor

# Unziping the Data
shutil.unpack_archive("data-science-job-posting-on-glassdoor.zip",extract_dir='data')

# Deleting the Zip File and the Cleaned Version
os.remove("data-science-job-posting-on-glassdoor.zip")
os.remove("data/Cleaned_DS_Jobs.csv")

# Renaming our dataset
os.rename("data/Uncleaned_DS_jobs.csv", "data/Data_Science_Jobs.csv")

In [20]:
# Starting the dataframe and correcting the index
df = pd.read_csv("data/Data_Science_Jobs.csv",index_col='index')

In [23]:
# Getting the Salary Estimate
def get_salary_estimate(x):
    estimate = ''
    for char in x:
        if char.isdigit() or char == '-':
            estimate += char 
    return estimate

df['Salary Estimate'] = df['Salary Estimate'].apply(get_salary_estimate)

In [37]:
# Cleaning the Company Name
def get_company_name(x):
    if str("\n") in x:
        array = x.split(str("\n"))
        return array[0].strip()
    else:
        return x
    
df['Company Name'] = df['Company Name'].apply(get_company_name)

In [40]:
# Cleaning the Company Size
def get_size(x):
    size = ''
    x = x.replace(' to ','-')
    for char in x:
        if char.isdigit() or char == '-':
            size += char 
    return size
    
df['Size'] = df['Size'].apply(get_size)

In [57]:
# Getting the Minimum Salary
df['Min Salary'] = df['Salary Estimate'].apply(lambda x: int(min(x.split('-'))))

# Getting the Maximum Salary
df['Max Salary'] = df['Salary Estimate'].apply(lambda x: int(max(x.split('-'))))

# Getting the Average Salary
df['Avg Salary'] = df['Salary Estimate'].apply(lambda x: statistics.mean(list(map(int,x.split('-')))))

In [89]:
def get_job_state(x):
    if x.lower() == 'remote':
        return x
    else:
        try:
            state = x.split(",")[1]
        except:
            state = x.split()[0][0].upper() + x.split()[1][0].upper()
        return state

df['Job State'] = df['Location'].apply(get_job_state)
df

IndexError: list index out of range

In [88]:
pd.options.display.max_rows = 900
df['Location'].to_frame()
df[df['Location']=='Remote']

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors,Min Salary,Max Salary,Avg Salary,Job State
index,,,,,,,,,,,,,,,,,,
16,Data Scientist - Contract,137-171,"We are an ambitious, well-funded startup with ...",4.1,Upside Business Travel,Remote,"Washington, DC",51-200,2015,Company - Private,Internet,Information Technology,Unknown / Non-Applicable,-1,137,171,154.0,R
53,Jr. Data Engineer,75-131,Jr. Data Engineer\n\nJob Details\nLevel\nEntry...,4.8,IT Concepts,Remote,"Vienna, VA",51-200,2003,Company - Private,IT Services,Information Technology,$10 to $25 million (USD),-1,131,75,103.0,R
134,Machine Learning Engineer,90-109,Role Description\nTriplebyte screens and evalu...,3.2,Triplebyte,Remote,"San Francisco, CA",51-200,2015,Company - Private,Computer Hardware & Software,Information Technology,Unknown / Non-Applicable,-1,109,90,99.5,R
135,Machine Learning Engineer,90-109,Role Description\nTriplebyte screens and evalu...,3.2,Triplebyte,Remote,"San Francisco, CA",51-200,2015,Company - Private,Computer Hardware & Software,Information Technology,Unknown / Non-Applicable,-1,109,90,99.5,R
199,Data Scientist - Contract,79-106,"We are an ambitious, well-funded startup with ...",4.1,Upside Business Travel,Remote,"Washington, DC",51-200,2015,Company - Private,Internet,Information Technology,Unknown / Non-Applicable,-1,106,79,92.5,R
305,Chief Scientist,145-225,Why TrueAccord?\n\nDebt collection is failing ...,3.4,TrueAccord,Remote,"San Francisco, CA",51-200,2013,Company - Private,Enterprise Software & Network Solutions,Information Technology,Unknown / Non-Applicable,-1,145,225,185.0,R