In [85]:
import pandas as pd
import numpy as np
import statistics
import os
import shutil

In [ ]:
# Getting the Dataset using the Kaggle API
!kaggle datasets download rashikrahmanpritom/data-science-job-posting-on-glassdoor

# Unziping the Data
shutil.unpack_archive("data-science-job-posting-on-glassdoor.zip",extract_dir='data')

# Deleting the Zip File and the Cleaned Version
os.remove("data-science-job-posting-on-glassdoor.zip")
os.remove("data/Cleaned_DS_Jobs.csv")

# Renaming our dataset
os.rename("data/Uncleaned_DS_jobs.csv", "data/Data_Science_Jobs.csv")

In [ ]:
# Starting the dataframe and correcting the index
df = pd.read_csv("data/Data_Science_Jobs.csv",index_col='index')

In [ ]:
# Getting the Salary Estimate
def get_salary_estimate(x):
    estimate = ''
    for char in x:
        if char.isdigit() or char == '-':
            estimate += char 
    return estimate

df['Salary Estimate'] = df['Salary Estimate'].apply(get_salary_estimate)

In [ ]:
# Cleaning the Company Name
def get_company_name(x):
    if str("\n") in x:
        array = x.split(str("\n"))
        return array[0].strip()
    else:
        return x
    
df['Company Name'] = df['Company Name'].apply(get_company_name)

In [ ]:
# Cleaning the Company Size
def get_size(x):
    size = ''
    x = x.replace(' to ','-')
    for char in x:
        if char.isdigit() or char == '-':
            size += char 
    return size
    
df['Size'] = df['Size'].apply(get_size)

In [ ]:
# Getting the Minimum Salary
df['Min Salary'] = df['Salary Estimate'].apply(lambda x: int(min(x.split('-'))))

# Getting the Maximum Salary
df['Max Salary'] = df['Salary Estimate'].apply(lambda x: int(max(x.split('-'))))

# Getting the Average Salary
df['Avg Salary'] = df['Salary Estimate'].apply(lambda x: statistics.mean(list(map(int,x.split('-')))))

In [ ]:
# Creating the Job State Column
def get_job_state(x):
    # States that does not have the acronym
    standardize_states = {"Utah":"UT",
                      "United States":"US",
                      "Remote":"RMT",
                      "New Jersey":"NJ",
                      "Texas":"TX",
                      "California":"CA"}
    
    try:
        state = x.split(",")[1].strip()
    except:
        for state_key,acronym in standardize_states.items():
            if x == state_key:
                state = acronym
    return state

find_different = df['Location'].apply(get_job_state)
df['Job State'] = df['Location'].apply(get_job_state)

In [75]:
# Creating the Same State Boolean Column
def get_headquarters_state(x):
    try:
        state = x.split(",")[1].strip()
    except:
        state = x
    return state

headquarters_states = df['Headquarters'].apply(get_headquarters_state)
df['Same State'] = df['Job State'] == headquarters_states

In [79]:
# Including the most appeared skills in boolean columns form using Lambda
df['Python - Required'] = df['Job Description'].apply(lambda x: True if "python" in x.lower() else False)
df['Excel - Required'] = df['Job Description'].apply(lambda x: True if "excel" in x.lower() else False)
df['Hadoop - Required'] = df['Job Description'].apply(lambda x: True if "hadoop" in x.lower() else False)
df['Spark - Required'] = df['Job Description'].apply(lambda x: True if "spark" in x.lower() else False)
df['AWS - Required'] = df['Job Description'].apply(lambda x: True if "aws" in x.lower() else False)
df['Tableau - Required'] = df['Job Description'].apply(lambda x: True if "tableau" in x.lower() else False)
df['Big Data - Required'] = df['Job Description'].apply(lambda x: True if "big data" in x.lower() else False)

In [88]:
# Getting a simple version of the Job
def get_simpler_job(x):
    x = x.lower()
    if "data scientist" in x:
        simpler_job = "Data Scientist"
    elif "machine learning engineer" in x:
        simpler_job = "M.L.E"
    elif "analyst" in x:
        simpler_job = "Analyst"
    elif "data engineer" in x:
        simpler_job = "Data Engineer"
    elif "computer scientist" in x:
        simpler_job = "Computer Scientist"
    else:
        simpler_job = np.nan
    return simpler_job
    
df['Simpler Job'] = df['Job Title'].apply(get_simpler_job)

In [94]:
# Ending the project getting the desired level of the job
def get_job_level(x):
    x = x.lower()
    if "jr" in x:
        level = "Junior"
    elif any(k in x for k in ["principal","senior",'experienced','sr']):
        level = "Senior"
    else:
        level = np.nan
    return level

df['Desired Level'] = df['Job Title'].apply(get_job_level)

In [95]:
# It looks better than before :/
df

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,...,Same State,Python - Required,Excel - Required,Hadoop - Required,Spark - Required,AWS - Required,Tableau - Required,Big Data - Required,Simpler Job,Desired Level
index,,,,,,,,,,,,,,,,,,,,,
0,Sr Data Scientist,137-171,Description\n\nThe Senior Data Scientist is re...,3.1,Healthfirst,"New York, NY","New York, NY",1001-5000,1993,Nonprofit Organization,...,True,False,False,False,False,True,False,False,Data Scientist,Senior
1,Data Scientist,137-171,"Secure our Nation, Ignite your Future\n\nJoin ...",4.2,ManTech,"Chantilly, VA","Herndon, VA",5001-10000,1968,Company - Public,...,True,False,False,True,False,False,False,True,Data Scientist,NaN
2,Data Scientist,137-171,Overview\n\n\nAnalysis Group is one of the lar...,3.8,Analysis Group,"Boston, MA","Boston, MA",1001-5000,1981,Private Practice / Firm,...,True,True,True,False,False,True,False,False,Data Scientist,NaN
3,Data Scientist,137-171,JOB DESCRIPTION:\n\nDo you have a passion for ...,3.5,INFICON,"Newton, MA","Bad Ragaz, Switzerland",501-1000,2000,Company - Public,...,False,True,True,False,False,True,False,False,Data Scientist,NaN
4,Data Scientist,137-171,Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions,"New York, NY","New York, NY",51-200,1998,Company - Private,...,True,True,True,False,False,False,False,False,Data Scientist,NaN
5,Data Scientist,137-171,About Us:\n\nHeadquartered in beautiful Santa ...,4.2,HG Insights,"Santa Barbara, CA","Santa Barbara, CA",51-200,2010,Company - Private,...,True,True,True,True,True,False,False,False,Data Scientist,NaN
6,Data Scientist / Machine Learning Expert,137-171,Posting Title\nData Scientist / Machine Learni...,3.9,Novartis,"Cambridge, MA","Basel, Switzerland",10000,1996,Company - Public,...,False,True,False,False,False,False,False,False,Data Scientist,NaN
7,Data Scientist,137-171,Introduction\n\nHave you always wanted to run ...,3.5,iRobot,"Bedford, MA","Bedford, MA",1001-5000,1990,Company - Public,...,True,True,False,False,False,False,False,False,Data Scientist,NaN
8,Staff Data Scientist - Analytics,137-171,Intuit is seeking a Staff Data Scientist to co...,4.4,Intuit - Data,"San Diego, CA","Mountain View, CA",5001-10000,1983,Company - Public,...,True,False,False,False,False,False,False,False,Data Scientist,NaN
9,Data Scientist,137-171,Ready to write the best chapter of your career...,3.6,XSELL Technologies,"Chicago, IL","Chicago, IL",51-200,2014,Company - Private,...,True,True,False,False,False,False,False,False,Data Scientist,NaN
10,Data Scientist,137-171,Join our team dedicated to developing and exec...,4.5,Novetta,"Herndon, VA","Mc Lean, VA",501-1000,2012,Company - Private,...,True,True,True,False,False,True,False,False,Data Scientist,NaN
11,Data Scientist,137-171,About Us\n\n\nInterested in working for a huma...,4.7,1904labs,"Saint Louis, MO","Saint Louis, MO",51-200,2016,Company - Private,...,True,True,False,False,True,False,False,False,Data Scientist,NaN
12,"Data Scientist - Statistics, Early Career",137-171,*Organization and Job ID**\nJob ID: 310918\n\n...,3.7,PNNL,"Richland, WA","Richland, WA",1001-5000,1965,Government,...,True,False,True,False,False,False,False,False,Data Scientist,NaN
13,Data Modeler,137-171,POSITION PURPOSE:\n\nThe Data Architect/Data M...,3.1,Old World Industries,"Northbrook, IL","Northbrook, IL",201-500,1973,Company - Private,...,True,True,True,False,False,False,True,False,NaN,NaN
14,Data Scientist,137-171,Position Description:\n\nWant to make a differ...,3.4,Mathematica Policy Research,"Washington, DC","Princeton, NJ",1001-5000,1986,Company - Private,...,False,True,True,False,False,True,False,False,Data Scientist,NaN
15,Experienced Data Scientist,137-171,*******Please Apply using this link: https://a...,4.4,Guzman & Griffin Technologies (GGTI),"Washington, DC","Mays Landing, NJ",1-50,1997,Company - Private,...,False,True,True,True,True,False,True,False,Data Scientist,Senior
16,Data Scientist - Contract,137-171,"We are an ambitious, well-funded startup with ...",4.1,Upside Business Travel,Remote,"Washington, DC",51-200,2015,Company - Private,...,False,True,False,False,False,False,False,False,Data Scientist,NaN
17,Data Scientist,137-171,Job Success Profile\n\nData Scientist\n\nBuckm...,3.5,Buckman,"Memphis, TN","Memphis, TN",1001-5000,1945,Company - Private,...,True,True,False,True,False,False,False,False,Data Scientist,NaN
18,Data Analyst II,137-171,The Data Analyst II is responsible for data en...,4.2,"Insight Enterprises, Inc.","Plano, TX","Tempe, AZ",5001-10000,1988,Company - Public,...,False,False,True,False,False,False,False,False,Analyst,NaN
19,Medical Lab Scientist,137-171,Responsibilities\n\n\nThe Medical Laboratory S...,3.5,Tower Health,"West Grove, PA","Reading, PA",5001-10000,2017,Nonprofit Organization,...,True,False,False,False,False,False,False,False,NaN,NaN
20,Data Scientist,137-171,Role Description\nAs a data scientist at Tripl...,3.2,Triplebyte,"New York, NY","San Francisco, CA",51-200,2015,Company - Private,...,False,False,False,False,False,False,False,False,Data Scientist,NaN
21,Data Scientist/Machine Learning,137-171,"PulsePoint™, a global programmatic advertising...",4.3,PulsePoint,"New York, NY","New York, NY",51-200,2011,Company - Private,...,True,True,False,True,True,False,False,True,Data Scientist,NaN
22,Human Factors Scientist,137-171,Human Factors Scientist\nID\n\n3336\n\nLocatio...,3.5,Exponent,"Phoenix, AZ","Menlo Park, CA",1001-5000,1967,Company - Public,...,False,False,True,False,False,False,False,False,NaN,NaN
23,Business Intelligence Analyst I- Data Insights,137-171,Position Summary\n\nIndividuals within the\nBu...,3.5,Guardian Life,"Appleton, WI","New York, NY",5001-10000,1860,Company - Private,...,False,False,False,False,False,False,False,False,Analyst,NaN
24,Data Scientist,137-171,What’s significantly better than working on a ...,3.4,Spectrum Communications and Consulting,"Chicago, IL","Chicago, IL",51-200,1992,Company - Private,...,True,False,False,False,False,False,False,False,Data Scientist,NaN
25,Data Scientist,137-171,Job Description\n\n\nOversight is a leading pr...,4.7,Oversight Systems,"Atlanta, GA","Atlanta, GA",51-200,2003,Company - Private,...,True,True,True,False,False,False,False,False,Data Scientist,NaN
26,Data Scientist - Risk,137-171,Job Title: Data Scientist (Risk)\n\nLocation: ...,4.2,LSQ,"Orlando, FL","Orlando, FL",51-200,1996,Company - Private,...,True,True,True,True,True,True,True,True,Data Scientist,NaN
27,Data Scientist-Human Resources,137-171,"Lexington, MA, US\n\n#job-location.job-locatio...",3.8,MIT Lincoln Laboratory,"Lexington, MA","Lexington, MA",1001-5000,1951,Nonprofit Organization,...,True,True,False,True,True,False,False,True,Data Scientist,NaN
28,Data Scientist,137-171,"Kingfisher Systems, Inc. specializes in provid...",4.5,Kingfisher Systems,"McLean, VA","Falls Church, VA",51-200,2005,Company - Private,...,True,True,False,False,False,False,True,False,Data Scientist,NaN
29,Data Scientist,137-171,Formation provides personalization for the lar...,2.8,Formation,"San Francisco, CA","San Francisco, CA",51-200,2015,Company - Private,...,True,False,True,False,True,False,False,True,Data Scientist,NaN
30,Data Scientist,75-131,Overview\n\n\nAnalysis Group is one of the lar...,3.8,Analysis Group,"Boston, MA","Boston, MA",1001-5000,1981,Private Practice / Firm,...,True,True,True,False,False,True,False,False,Data Scientist,NaN
31,Data Scientist / Machine Learning Expert,75-131,Posting Title\nData Scientist / Machine Learni...,3.9,Novartis,"Cambridge, MA","Basel, Switzerland",10000,1996,Company - Public,...,False,True,False,False,False,False,False,False,Data Scientist,NaN
32,Data Scientist,75-131,Cohere Health is simplifying healthcare for pa...,5.0,Cohere Health,"Boston, MA","Boston, MA",1-50,2019,Company - Private,...,True,True,True,False,False,False,False,False,Data Scientist,NaN
33,Senior Research Statistician- Data Scientist,75-131,Acuity is seeking a Senior Research Statistici...,4.8,Acuity Insurance,"Sheboygan, WI","Sheboygan, WI",1001-5000,1925,Company - Private,...,True,False,False,False,False,False,False,False,Data Scientist,Senior
34,Data Engineer,75-131,Chef Software is the industry leader in IT aut...,3.6,Chef,United States,"Seattle, WA",201-500,2008,Company - Private,...,False,False,True,False,False,True,False,True,Data Engineer,NaN
35,Associate Data Scientist,75-131,Puget Sound Energy is looking to grow our comm...,3.3,Puget Sound Energy,"Bothell, WA","Bellevue, WA",1001-5000,1999,Company - Private,...,True,False,True,True,True,False,False,False,Data Scientist,NaN
36,Business Intelligence Analyst,75-131,The Business Intelligence Analyst is responsib...,2.7,Sandhills Global,"Lincoln, NE","Lincoln, NE",1001-5000,1978,Company - Private,...,True,True,True,False,False,False,True,False,Analyst,NaN
37,Data Scientist,75-131,Join Our Growing Team\nA career with A Place f...,2.7,A Place for Mom,"Overland Park, KS","New York, NY",501-1000,2000,Company - Private,...,False,True,True,False,False,True,False,False,Data Scientist,NaN
38,Data Scientist,75-131,Job Title: Data Scientists\n\nJob Description\...,2.2,Great-Circle Technologies,"Chantilly, VA","Chantilly, VA",1-50,2000,Company - Private,...,True,True,True,True,True,True,False,False,Data Scientist,NaN
39,Senior Analyst/Data Scientist,75-131,At Edmunds were driven to make car buying easi...,3.4,Edmunds.com,"Santa Monica, CA","Santa Monica, CA",501-1000,1966,Company - Private,...,True,True,True,False,False,True,True,False,Data Scientist,Senior
40,Data Analyst,75-131,Data Analyst\nLocation\n\n\nBoston\n\nBusiness...,3.1,"Cambridge Associates, LLC","Boston, MA","Boston, MA",501-1000,1973,Company - Private,...,True,True,True,False,False,False,False,False,Analyst,NaN
41,Machine Learning Engineer,75-131,We deliver our customers peace of mind every d...,3.4,Liberty Mutual Insurance,"Portsmouth, NH","Boston, MA",10000,1912,Company - Private,...,False,True,True,False,True,True,False,True,M.L.E,NaN
42,Data Analyst I,75-131,Who is Cenlar?\n\nYou are.\n\nEmployee-owners ...,2.6,Cenlar,"Ewing, NJ","Ewing, NJ",1001-5000,1958,Company - Private,...,True,False,False,False,False,False,False,False,Analyst,NaN
43,Scientist - Molecular Biology,75-131,ArsenalBio’s mission is to develop efficacious...,5.0,Arsenal Biosciences,"South San Francisco, CA","South San Francisco, CA",51-200,2019,Company - Private,...,True,False,False,False,False,False,False,False,NaN,NaN
44,Data Scientist,75-131,The Opportunity\n\nEversight is the recognized...,4.2,Eversight,"Palo Alto, CA","Palo Alto, CA",51-200,2013,Company - Private,...,True,True,False,False,False,False,False,False,Data Scientist,NaN
45,"Computational Scientist, Machine Learning",75-131,ROLE SUMMARY\n\nThe Pfizer Simulation and Mode...,4.1,Pfizer,"Cambridge, MA","New York, NY",10000,1849,Company - Public,...,False,True,True,False,False,True,False,False,NaN,NaN
46,Senior Data Scientist,75-131,Klaviyo is looking for Senior Data Scientists ...,4.8,Klaviyo,"Boston, MA","Boston, MA",201-500,2012,Company - Private,...,True,False,False,False,False,False,False,False,Data Scientist,Senior
47,Data Scientist,75-131,Job Description\n\nThe Cooking Lab is the publ...,3.3,Intellectual Ventures,"Bellevue, WA","Bellevue, WA",501-1000,2000,Company - Private,...,True,True,True,False,False,False,False,False,Data Scientist,NaN
48,Data Scientist,75-131,We are looking for Data Scientists who are int...,3.7,GovTech,"San Francisco, CA","Singapore, Singapore",1001-5000,2016,Government,...,False,True,True,False,False,False,True,False,Data Scientist,NaN
49,Data Scientist,75-131,Company Description:\nWhats it like to work at...,4.3,Quick Base,"Cambridge, MA","Cambridge, MA",201-500,1999,Company - Private,...,True,True,True,False,False,False,True,False,Data Scientist,NaN
50,Data Analyst,75-131,Reporting to Director of Data\n\nCompany Overv...,4.8,Giving Assistant,"San Francisco, CA","San Francisco, CA",1-50,2014,Company - Private,...,True,True,True,False,False,False,True,False,Analyst,NaN
51,Data Scientist,75-131,"By clicking the Apply button, I understand tha...",3.7,Takeda,"Cambridge, MA","OSAKA, Japan",10000,1781,Company - Public,...,False,True,False,False,True,False,False,False,Data Scientist,NaN
52,Data Scientist,75-131,"About Netskope\n\nToday, there's more data and...",4.0,Netskope,"San Francisco, CA","Santa Clara, CA",501-1000,2012,Company - Private,...,True,True,True,False,True,False,False,True,Data Scientist,NaN
53,Jr. Data Engineer,75-131,Jr. Data Engineer\n\nJob Details\nLevel\nEntry...,4.8,IT Concepts,Remote,"Vienna, VA",51-200,2003,Company - Private,...,False,False,True,False,False,False,False,False,Data Engineer,Junior
54,E-Commerce Data Analyst,75-131,We have an exciting opportunity forYOU to join...,3.5,iSeatz,"New Orleans, LA","New Orleans, LA",51-200,1999,Company - Private,...,True,False,True,False,False,False,False,False,Analyst,NaN
55,Data Analytics Engineer,75-131,Analytics Engineer-Administration\nSumma Healt...,3.7,Summa Health System,"Akron, OH","Akron, OH",5001-10000,1926,Nonprofit Organization,...,True,False,True,False,False,True,True,False,NaN,NaN
56,Senior Data Scientist,75-131,Benson Hill empowers innovators to develop mor...,3.5,Benson Hill,"Saint Louis, MO","Saint Louis, MO",201-500,2012,Company - Private,...,True,True,True,False,False,False,False,True,Data Scientist,Senior
57,Product Data Scientist - Ads Data Science,75-131,Who We Are\n\n\nThe team is responsible for pl...,4.1,Twitter,"San Francisco, CA","San Francisco, CA",1001-5000,2006,Company - Public,...,True,True,False,False,False,False,False,False,Data Scientist,NaN
58,Data Scientist,75-131,WHO WE ARE\n\n\nPostmates enables anyone to ha...,3.2,Postmates - Corporate HQ,"San Francisco, CA","San Francisco, CA",1001-5000,2011,Company - Private,...,True,True,False,False,True,False,False,False,Data Scientist,NaN
59,Data Scientist - Intermediate,75-131,Job description:\n\nCreate and maintain code f...,4.5,Envision LLC,"Saint Louis, MO","Saint Louis, MO",201-500,1994,Company - Private,...,True,True,True,False,False,False,False,False,Data Scientist,NaN
60,Data Analyst,75-131,About Swiss Re\n\nSwiss Re is one of the world...,3.8,Swiss Re,"Fort Wayne, IN","Zurich, Switzerland",10000,1863,Company - Public,...,False,True,True,False,False,False,False,False,Analyst,NaN
61,Machine Learning Engineer,75-131,The Video & Image Understanding Group develops...,4.5,Systems & Technology Research,"Woburn, MA","Woburn, MA",201-500,2010,Company - Private,...,True,True,True,False,False,False,False,False,M.L.E,NaN
62,Data Scientist,79-131,Introduction\n\nHave you always wanted to run ...,3.5,iRobot,"Bedford, MA","Bedford, MA",1001-5000,1990,Company - Public,...,True,True,False,False,False,False,False,False,Data Scientist,NaN
63,Data Scientist,79-131,About Us:\n\nHeadquartered in beautiful Santa ...,4.2,HG Insights,"Santa Barbara, CA","Santa Barbara, CA",51-200,2010,Company - Private,...,True,True,True,True,True,False,False,False,Data Scientist,NaN
64,Global Data Analyst,79-131,Global Data Analyst\nJob Code\n\n3938\n\nLocat...,3.8,Dermalogica,"Carson, CA","Carson, CA",201-500,1986,Subsidiary or Business Segment,...,True,False,True,False,False,False,True,False,Analyst,NaN
65,Data Engineer,79-131,POSITION SUMMARY\n\n\nThe candidate will be jo...,3.7,Bayview Asset Management,"Coral Gables, FL","Coral Gables, FL",1001-5000,1995,Company - Private,...,True,True,False,False,False,False,False,False,Data Engineer,NaN
66,Data Scientist,79-131,"As a Data Scientist, you'll utilize advanced q...",3.7,Via Transportation,"New York, NY","New York, NY",501-1000,2012,Company - Private,...,True,True,False,False,False,False,True,False,Data Scientist,NaN
67,Data Scientist,79-131,"As a member of the Data Science team, this rol...",4.0,Grid Dynamics,"Santa Clara, CA","San Ramon, CA",1001-5000,2006,Company - Private,...,True,True,True,False,False,False,True,True,Data Scientist,NaN
68,Data & Machine Learning Scientist,79-131,Passionate about precision medicine and advanc...,3.3,Tempus Labs,"Chicago, IL","Chicago, IL",501-1000,2015,Company - Private,...,True,True,False,False,False,True,False,False,NaN,NaN
69,Data Scientist - Machine Learning,79-131,"Headquartered in Brisbane, Calif., CareDx, Inc...",2.5,CareDx,"Brisbane, CA","Brisbane, CA",1-50,-1,Company - Private,...,True,True,True,False,True,False,False,False,Data Scientist,NaN
70,Data Engineer (Remote),79-131,IZEA was built to connect the world’s top bran...,4.2,IZEA,"Winter Park, FL","Winter Park, FL",51-200,2006,Company - Public,...,True,True,True,True,True,True,False,False,Data Engineer,NaN
71,"Data Scientist, Applied Machine Learning - Bay...",79-131,Passionate about precision medicine and advanc...,3.3,Tempus Labs,"Redwood City, CA","Chicago, IL",501-1000,2015,Company - Private,...,False,True,False,False,False,True,False,False,Data Scientist,NaN
72,Principal Data Scientist,79-131,Job Requisition ID #\n20WD40121\nJob Title\nPr...,4.0,Autodesk,"San Francisco, CA","San Rafael, CA",5001-10000,1982,Company - Public,...,True,True,True,True,True,True,False,True,Data Scientist,Senior
73,Business Data Analyst,79-131,Description\nAre you passionate about customer...,3.7,Caterpillar,"Peoria, IL","Deerfield, IL",10000,1925,Company - Public,...,True,False,True,False,False,False,True,False,Analyst,NaN
74,Purification Scientist,79-131,New England Biolabs (NEB) is seeking highly mo...,4.9,New England Biolabs,"Ipswich, MA","Ipswich, MA",201-500,1974,Company - Private,...,True,False,False,False,False,False,False,False,NaN,NaN
75,Data Analyst,79-131,"As part of the Data Intelligence department, t...",3.4,Allied Solutions,"Carmel, IN","Carmel, IN",1001-5000,2001,Subsidiary or Business Segment,...,True,True,True,False,False,False,True,False,Analyst,NaN
76,"Data Engineer, Enterprise Analytics",79-131,Description\n\nThe Data Engineer on the Enterp...,3.1,Healthfirst,"New York, NY","New York, NY",1001-5000,1993,Nonprofit Organization,...,True,True,True,False,False,False,False,True,Data Engineer,NaN
77,Data Scientist,79-131,WHAT WE DO MATTERS:\n\nHere at The Knot Worldw...,3.5,The Knot Worldwide,"Washington, DC","Chevy Chase, MD",1001-5000,2019,Company - Private,...,False,True,False,False,True,True,False,False,Data Scientist,NaN
78,Data Scientist,79-131,Job Brief\n\nThe ideal candidate will have pre...,2.9,IFG Companies,"New York, NY","Hartford, CT",201-500,1985,Company - Private,...,False,True,False,False,False,False,False,False,Data Scientist,NaN
79,Data Scientist 3 (718),79-131,Amyris has developed a high-throughput genetic...,3.3,Amyris,"Emeryville, CA","Emeryville, CA",201-500,2003,Company - Public,...,True,True,False,False,False,True,False,False,Data Scientist,NaN
80,"Real World Science, Data Scientist",79-131,"Title: Real World Science, Data Scientist\nLoc...",4.0,AstraZeneca,"Gaithersburg, MD","Cambridge, United Kingdom",10000,1913,Company - Public,...,False,True,False,True,False,False,False,False,Data Scientist,NaN
81,Data Scientist,79-131,The Senior Data Scientist will build and impro...,3.6,Powertek,"Washington, DC","Rockville, MD",51-200,2001,Company - Private,...,False,False,False,False,False,False,False,False,Data Scientist,NaN
82,Data Engineer,79-131,"Job Description\n\nWhy consider OPI, and why d...",4.7,Object Partners,"Saint Louis, MO","Minneapolis, MN",51-200,1996,Company - Private,...,False,False,False,True,True,True,False,True,Data Engineer,NaN
83,Data Scientist - Image and Video Analytics,79-131,Company Industry: Technology\nOpportunity: The...,4.9,The Mom Project,"Longmont, CO","Chicago, IL",1-50,2016,Company - Private,...,False,True,False,True,True,True,False,False,Data Scientist,NaN
84,Data Scientist,79-131,Lightspeed Systems partners with schools to ma...,4.3,Lightspeed Systems,"Austin, TX","Austin, TX",51-200,1999,Company - Private,...,True,True,False,False,True,True,False,False,Data Scientist,NaN